/* 

.dark-theme #main-content-container{
    margin-top:4.5% !important;
    max-width: 960px !important;
    max-height: 84% !important;
}



#main-content-container{
    margin-top:4.5% !important;
    max-width: 960px !important;
    max-height: 84% !important;
}



html ::-webkit-scrollbar-thumb{

    background-color:rgba(0, 0, 0, 0) !important;
}


html ::-webkit-scrollbar-thumb:hover{

    background-color:var(--ls-scrollbar-foreground-color) !important;
}


html ::-webkit-scrollbar{
    opacity:1 !important;
}
 


.form-checkbox{

    background-color:rgba(255, 0, 0, 0) !important;
    height: calc(var(--ct-marker-size) + 0px);
width: calc(var(--ct-marker-size) + 0px);
}

.pomomi{
    position:fixed;
    bottom:4px;
    left:50px;
    width:200px !important;
    height:160px !important;
    /*transform: scale(0.65);
    */filter: brightness(9%) saturate(0%) invert(0%) sepia(0%) saturate(0%) hue-rotate(3deg) brightness(90%) contrast(200%);
    z-index:100;
    visibility:hidden;
    -webkit-filter: brightness(99%) saturate(0%) invert(0%) sepia(0%) saturate(0%) hue-rotate(3deg) brightness(90%) contrast(200%);
}



.editor-inner textarea {

    color: rgb(45, 205, 211) !important;
}

h1{

    font-size:24px !important;
}

.ls-block{
    font-family: "Times New Roman" !important;
}

.asset-ref.is-pdf:before,.asset-ref.is-pdf:after,.ls-block h1::after{

    display: none   !important;
} */
